In [2]:
#import Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from scipy.stats import chi2_contingency 
import warnings 
warnings.filterwarnings('ignore')

#import project confiuration
import sys
sys.path.append('..')
import config

#set visualization style
sns.set_style('whitegrid')
sns.set_palette('Set2')
plt.rcParams['figure.figsize'] = (14, 6)
plt.rcParams['font.size'] = 10

# Set random seed
np.random.seed(config.RANDOM_SEED)

print("Libraries imported successfully")
print(f"Matplotlib version: {plt.matplotlib.__version__}")
print(f"Seaborn version: {sns.__version__}")

Configuration loaded successfully!
Project root: C:\Users\hp\Desktop\gaf\Ghana-Armed-Forces-Personnel-Deployment-and-Attrition-Risk-Modeling
Random seed: 42
Target sample size: 1000 personnel
Libraries imported successfully
Matplotlib version: 3.7.2
Seaborn version: 0.12.2

# Load Data

In [3]:
#load the dataset 
data_path = config.RAW_DATA_DIR/ config.PERSONNEL_DATA_FILE
df = pd.read_csv(data_path)

df['contract_end_data'] = pd.to_datetime(df['contract_end_date'])

print(f"Data loaded successfully")
print(f"Shape: {df.shape}")
print(f"\n Some rows")
df.head()

Data loaded successfully
Shape: (1000, 52)

 Some rows

,personnel_id,name,age,gender,service_branch,rank,MOS,years_of_service,contract_end_date,marital_status,...,peer_rating_score,civilian_job_offers,financial_stress_indicator,family_support_score,relocation_willingness,attrition_risk_score,attrition_risk,readiness_score,readiness_category,contract_end_data
0,MIL00001,Allison Hill,35,Male,Army,Officer,Military Police,18,2026-09-22,Single,...,81.3,0.0,Low,95.6,Low,0.000000,NaN,62.0,Not Ready,2026-09-22
1,MIL00002,Noah Rhodes,23,Female,Army,Junior,Cyber Operations,2,2025-03-01,Divorced,...,NaN,0.0,Low,24.6,High,34.614493,LOW_RISK,70.9,Limited,2025-03-01
2,MIL00003,Angie Henderson,29,Male,Army,Junior,Special Forces,5,2027-01-20,Married,...,73.8,0.0,Low,61.7,Medium,0.000000,NaN,67.3,Not Ready,2027-01-20
3,MIL00004,Daniel Wagner,20,Male,Air Force,Junior,Aviation,5,2028-08-12,Married,...,79.3,1.0,Medium,69.3,Medium,25.940718,LOW_RISK,73.4,Limited,2028-08-12
4,MIL00005,Cristian Santos,21,Female,Navy,Junior,Administration,1,2027-01-20,Married,...,NaN,NaN,Low,38.7,Low,19.649121,LOW_RISK,76.0,Limited,2027-01-20

In [4]:
#info 
print("Dataset Information")
print("-"*60)
df.info()

Dataset Information
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   personnel_id                    1000 non-null   object
 1   name                            1000 non-null   object
 2   age                             1000 non-null   int64
 3   gender                          1000 non-null   object
 4   service_branch                  1000 non-null   object
 5   rank                            1000 non-null   object
 6   MOS                             1000 non-null   object
 7   years_of_service                1000 non-null   int64
 8   contract_end_date               1000 non-null   object
 9   marital_status                  1000 non-null   object
 10  dependents                      1000 non-null   int64
 11  education_level                 1000 non-null   object
 12  months_until_contract_end       1000 non-null   int64
 13  total_training_hours            1000 non-null   int64
 14  specialized_courses_completed   1000 non-null   int64
 15  training_score_average          1000 non-null   float64
 16  certifications_held             1000 non-null   int64
 17  days_since_last_training        1000 non-null   int64
 18  skills_current                  1000 non-null   bool
 19  training_budget_spent           1000 non-null   int64
 20  health_index                    1000 non-null   float64
 21  physical_fitness_score          1000 non-null   float64
 22  medical_restrictions            1000 non-null   bool
 23  days_on_medical_leave           925 non-null    float64
 24  mental_health_status            965 non-null    object
 25  wellness_program_participation  930 non-null    object
 26  annual_leave_taken              1000 non-null   int64
 27  emergency_leave_incidents       930 non-null    float64
 28  unauthorized_absences           1000 non-null   int64
 29  leave_balance                   1000 non-null   int64
 30  leave_to_service_ratio          1000 non-null   float64
 31  total_deployments               1000 non-null   int64
 32  months_deployed_last_3yrs       1000 non-null   int64
 33  deployment_type                 914 non-null    object
 34  months_since_last_deployment    1000 non-null   int64
 35  mission_performance_rating      1000 non-null   int64
 36  combat_exposure_level           327 non-null    object
 37  performance_review_score        1000 non-null   float64
 38  commendations                   1000 non-null   int64
 39  disciplinary_actions            1000 non-null   int64
 40  leadership_potential_score      1000 non-null   float64
 41  promotion_eligible              1000 non-null   bool
 42  peer_rating_score               860 non-null    float64
 43  civilian_job_offers             953 non-null    float64
 44  financial_stress_indicator      1000 non-null   object
 45  family_support_score            889 non-null    float64
 46  relocation_willingness          1000 non-null   object
 47  attrition_risk_score            1000 non-null   float64
 48  attrition_risk                  907 non-null    object
 49  readiness_score                 1000 non-null   float64
 50  readiness_category              1000 non-null   object
 51  contract_end_data               1000 non-null   datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(13), int64(18), object(17)
memory usage: 385.9+ KB

In [7]:
#summary 
print("\nNumeric Feature Summary")
print("-"*60)
df.describe().round(3).T

Numeric Feature Summary
------------------------------------------------------------

,count,mean,min,25%,50%,75%,max,std
age,1000.0,29.409,18.0,24.0,28.0,35.0,54.0,7.889
years_of_service,1000.0,8.296,0.0,3.0,6.0,12.0,29.0,6.615
dependents,1000.0,2.505,0.0,1.0,2.5,4.0,5.0,1.701
months_until_contract_end,1000.0,24.285,1.0,13.0,25.0,35.0,47.0,13.244
total_training_hours,1000.0,659.587,0.0,256.75,549.5,998.75,2000.0,523.211
specialized_courses_completed,1000.0,4.607,0.0,2.0,4.0,7.0,15.0,3.347
training_score_average,1000.0,80.082,60.0,73.6,79.9,86.7,100.0,9.398
certifications_held,1000.0,3.485,0.0,2.0,3.0,5.0,8.0,1.93
days_since_last_training,1000.0,355.991,2.0,170.75,348.5,548.5,729.0,212.171
training_budget_spent,1000.0,9442.117,0.0,4075.5,8280.0,13155.0,34622.0,7133.439
health_index,1000.0,85.668,55.3,79.375,85.9,93.0,100.0,9.507
physical_fitness_score,1000.0,79.212,30.4,69.375,80.0,91.0,100.0,14.67
days_on_medical_leave,925.0,13.137,0.0,3.0,8.0,17.0,173.0,17.241
annual_leave_taken,1000.0,15.011,0.0,10.0,15.0,20.0,30.0,6.592
emergency_leave_incidents,930.0,0.886,0.0,0.0,0.0,1.0,5.0,1.155
unauthorized_absences,1000.0,0.218,0.0,0.0,0.0,0.0,3.0,0.566
leave_balance,1000.0,14.989,0.0,10.0,15.0,20.0,30.0,6.592
leave_to_service_ratio,1000.0,4.097,0.0,1.07,2.105,4.5,30.0,5.369
total_deployments,1000.0,3.032,0.0,1.0,3.0,4.0,8.0,2.082
months_deployed_last_3yrs,1000.0,18.021,0.0,9.0,18.0,27.0,35.0,10.653
months_since_last_deployment,1000.0,102.318,1.0,10.0,20.0,29.0,999.0,275.359
mission_performance_rating,1000.0,3.491,1.0,3.0,4.0,4.0,5.0,0.991
performance_review_score,1000.0,81.885,60.0,76.4,82.0,87.525,100.0,8.359
commendations,1000.0,3.458,0.0,1.0,3.0,4.25,10.0,2.747
disciplinary_actions,1000.0,0.134,0.0,0.0,0.0,0.0,3.0,0.537
leadership_potential_score,1000.0,51.674,19.3,42.15,51.0,60.225,100.0,13.329
peer_rating_score,860.0,81.208,38.3,72.8,81.45,90.6,100.0,12.197
civilian_job_offers,953.0,0.418,0.0,0.0,0.0,0.0,3.0,0.879
family_support_score,889.0,69.951,6.6,58.1,70.4,82.7,100.0,18.507
attrition_risk_score,1000.0,28.442,0.0,11.615,25.166,42.493,100.0,21.62
readiness_score,1000.0,71.154,42.4,64.9,71.3,77.525,99.3,9.11
contract_end_data,1000,2026-12-29 13:11:59.999999744,2025-01-30 00:00:00,2026-01-25 00:00:00,2027-01-20 00:00:00,2027-11-16 00:00:00,2028-11-10 00:00:00,NaN